In [321]:
import pandas as pd
import ast

In [322]:
mal1 = pd.read_csv('/scratch/cm/malayalam_train.tsv', sep='\t')
mal2 = pd.read_csv('/scratch/cm/malayalam_dev.tsv', sep='\t')
mal3 = pd.read_csv('/scratch/cm/malayalam_test_results - malayalam_test_results.tsv', sep='\t')

In [323]:
df1 = mal1.append(mal2).append(mal3)

In [324]:
df1 = df1[df1.category!='not-malayalam']
df1 = df1[df1.category!='not-malayalam ']
df1 = df1.drop(['id', 'category'], axis = 1)
df1['lang'] = 4

In [325]:
tam1 = pd.read_csv('/scratch/cm/tamil_train.tsv', sep='\t')
tam2 = pd.read_csv('/scratch/cm/tamil_dev.tsv', sep='\t')
tam3 = pd.read_csv('/scratch/cm/tamil_test_answer - tamil_test_answer.tsv', sep='\t')

In [326]:
df2 = tam1.append(tam2).append(tam3)

In [327]:
df2 = df2[df2.category!='not-Tamil']
df2 = df2[df2.category!='not-Tamil ']
df2 = df2.drop(['id', 'category'], axis = 1)
df2['lang'] = 3

In [328]:
df3 = pd.read_json('/scratch/cm/hinglishNorm.json')

In [329]:
df3.tags = df3.tags.apply(ast.literal_eval)

In [330]:
def lgood(ls):
    sm = sum([i == 'Looks Good' for i in ls])
    return 1 if sm/len(ls) < 0.6 and len(ls) >= 4 else 0
df3['codemix'] = df3.tags.apply(lgood)
df3 = df3[df3['codemix'] == 1]

In [331]:
df3

,id,inputText,tags,normalizedText,codemix
1,2,tarika hai bolne ka,"[Hindi, Hindi, Hindi, Hindi]",tarika hai bolne ka,1
7,8,yaar jo bhi ho na mast ho tum,"[Hindi, Hindi, Hindi, Hindi, Hindi, Hindi, Hin...",yaar jo bhee ho na mast ho tum,1
8,9,or jo ahae dekhlenge,"[Hindi, Hindi, Hindi, Hindi]",aur jo he dekhalenge,1
11,12,koi na baat kar lo,"[Hindi, Hindi, Hindi, Hindi, Hindi]",koee na baat kar lo,1
12,13,ab gate k through recruitment hoga,"[Hindi, Acronym, Unrecognizable or other langu...",ab graduate aptitude test in engineering ke th...,1
...,...,...,...,...,...
13482,13483,kisi se mi phone maang le,"[Hindi, Hindi, Hindi, Looks Good, Hindi, Hindi]",kisee se bhee phone maang le,1
13483,13484,koi nhi tu v kr lena post graduation,"[Hindi, Hindi, Hindi, Hindi, Hindi, Hindi, Loo...",koee nahin too bhee kar lena post graduation,1
13485,13486,th kya kr liya,"[Hindi, Hindi, Hindi, Hindi]",tha kya kar liya,1
13488,13489,ye kya hota h,"[Hindi, Hindi, Hindi, Hindi]",ye kya hota hai,1
13493,13494,har koi insaan hi hai,"[Hindi, Hindi, Hindi, Hindi, Hindi]",har koee insaan hee hai,1

In [332]:
df3['text'] = df3['normalizedText']
df3['lang'] = 2
df3 = df3.drop(['tags', 'normalizedText', 'codemix', 'inputText', 'id'], axis = 1)

In [333]:
with open('/scratch/cm/all_wiki_sents.txt', 'r') as f:
    st =  f.read()
    sents = st.split('\n')
    df4 = pd.DataFrame(sents[:-1])

In [334]:
df4['text'] = df4[0]
df4['lang'] = 1
df4 = df4.drop([0], axis = 1)

In [335]:
df1.text = df1.text.str.lower()
df2.text = df2.text.str.lower()
df3.text = df3.text.str.lower()
df4.text = df4.text.str.lower()

In [336]:
mn = 5691
df1 = df1.sample(mn)
df2 = df2.sample(mn)
df3 = df3.sample(mn)
df4 = df4.sample(mn)

In [337]:
df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)
df3.reset_index(drop=True, inplace=True)
df4.reset_index(drop=True, inplace=True)

In [345]:
df = df1.append(df2).append(df3).append(df4)

In [346]:
df = df.sample(len(df))
df.reset_index(drop=True, inplace=True)

In [349]:
from sklearn.model_selection import train_test_split as tts
train, valid = tts(df, test_size = 0.2, random_state = 42, stratify=df.lang)

In [351]:
valid

                                                    text  lang
12669                   german and sioux indian ancestry     1
15164  wang mang still refused to let her visit the c...     1
3599    yaarlam ajith sir a thavara vera yaaralayum i...     3
22331  unfortunately hot springs can create ideal con...     1
7956    flop kaluda rajakumaran ee padam hit agum pis...     4
...                                                  ...   ...
14794   singa thalaivaa recordukal ini rajaku swontha...     4
11094       a new constitution was adopted in july 1994      1
12682                                  na main naee hoon     2
3415   ethipo tamizhanmarum karnataka ap ellarum inda...     4
16010       nahin unake lie helping verb use kar leta hu     2

[4553 rows x 2 columns]

In [353]:
train.to_csv('train.csv')
valid.to_csv('valid.csv')

In [387]:

def make_vocab(count, min_freq=3, max_vocab=60000, special_toks=None):
    "Create a vocab of `max_vocab` size from `Counter` `count` with items present more than `min_freq`"
    vocab = [o for o,c in count.most_common(max_vocab) if c >= min_freq]
    special_toks = ifnone(special_toks, 'n')
    for o in reversed(special_toks): #Make sure all special tokens are in the vocab
        if o in vocab: vocab.remove(o)
        vocab.insert(0, o)
    vocab = vocab[:max_vocab]
    return vocab + [f'xxfake' for i in range(0, 8-len(vocab)%8)]
def ifnone(a,b):
    "`a` if `a` is not None, otherwise `b`."
    return b if a is None else a

In [397]:
vocab = list()
for i in list(df.text.values):
    tmp = []
    for j in i.split(' '):
        if len(j)> 0:
            tmp.append(j)
    vocab.append(tmp)

In [398]:
import pickle
with open('vocab.pkl', 'wb') as f:
    pickle.dump(vocab, f)

In [399]:
vocab[3]

['lalletan', 'fans', 'ellarum', 'like', 'adich', 'power', 'kanikke']

In [ ]:
train['is_valid'] = 0
valid['is_valid'] = 1
train.appe
df.to_csv('total.csv')